* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600px;
    width: 100%;
    background-image: url(../images/bakgrundyoga.webp) no-repeat center center;
}

.main {
    background: rgb(174, 2, 174);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul li {
    display: inline-flex;
    padding: 15px;
    margin-right: 20px;
}

label {
    cursor: pointer;
    margin-left: 20px;
    font-size: 2rem;
    color: white;
}

.nav-bar ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(174, 2, 174);
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600;
}

.content p {
font-size: 1.7rem;
color: rgb(174, 2, 174);
}

footer {
  height: 150px;
}

.social-media {
  text-align: center;
}

.social-media li {
  display: inline;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: rgb(174, 2, 174);
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*about file css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}