* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f2f2f2;
}

.main {
    background: rgb(174, 2, 174);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul li {
    display: inline-flex;
    padding: 15px;
    margin-right: 20px;
}

label {
    cursor: pointer;
    margin-left: 20px;
    font-size: 2rem;
    color: white;
}

.nav-bar ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(174, 2, 174);
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600;
}

.content p {
font-size: 1.7rem;
color: rgb(174, 2, 174);
}

footer {
  height: 150px;
}

.social-media {
  text-align: center;
}

.social-media li {
  display: inline;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: rgb(174, 2, 174);
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*about file css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content:"";
    position: absolute;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: rgb(174, 2, 174);
}

.heading p {
    font-size: 18px;
    color: #3a3a3a;
    margin-bottom: 35px;
}

.cont {
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #3a3a3a;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}